.section-news {
  .intro {
    margin-top: 50px;
  }
  .container {
    margin-bottom: 100px;
  }
}

.news {
  .news-list {
    .news-item {
      line-height: 30px;
      font-size: 15px;
      img {
        width: 100%;
      }
      .title-news {
        font-size: 16px;
        font-weight: 500;
      }
      span {
        color: map-get($colors, gray-color);
        margin: 5px 0;
      }
      time {
        color: map-get($colors, black-color);
      }
    }
  }
}
