@media only screen and (max-width: 1023px) {
  .section-suggest {
    .container.wrap {
      flex-wrap: wrap;
    }
  }

  .header-nav {
    .nav-icon-list {
      .nav-icon {
        display: none;
      }
    }
  }

  .section-suggest {
    margin: 0 auto;
    padding-left: 20px;
    .col-lg-3 {
      width: 47%;
    }
  }

  .signup.col-lg-4 {
    width: 100%;
  }

  .footer-top {
    .col-lg-3,
    .col-lg-13 {
      width: 33.33%;
    }
  }
  .footer-page {
    .footer-bottom {
      .footer-bottom-item {
        display: block;
        text-align: center;
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .col-lg-3,
  .col-lg-6,
  .col-lg-4,
  .section-suggest {
    .col-lg-3 {
      width: 46%;
    }
  }

  .col-lg-4 {
    margin: 20px 0;
  }

  .btn {
    width: 200px;
  }

  .header-nav {
    .header-menu-list,
    .nav-icon-list {
      display: none;
    }
    .menu-logo img {
      display: block;
    }
  }

  .slide-content {
    @include flexJustify(center);
    flex-direction: column;
    align-items: center;
    a {
      display: block;
      margin: 20px 0;
    }
    .slide-title {
      font-size: 45px;
    }
    p {
      font-size: 17px;
      margin-bottom: 35px;
    }
  }

  .product-item {
    height: 270px;
  }

  .services-list {
    .services-item {
      margin: 40px 0;
    }
    margin-bottom: 0;
  }

  .section-suggest {
    .container.wrap {
      flex-wrap: wrap;
    }
  }

  .footer-nav-list {
    display: none;
  }

  .footer-page {
    .footer-top {
      margin: 0 10px;
      .col-lg-3 {
        width: 50%;
      }
    }
  }

  .news-list,
  .footer-top-responsive {
    margin: 0 10px;
  }
}

@media only screen and (max-width: 479px) {
  .header-top,
  .footer-top {
    display: none;
  }
  .wrap {
    flex-wrap: wrap;
  }
  .model-list .model-item .model-text {
    right: 20px;
  }
  .product-item .col-lg-3 {
    width: 45%;
  }
  .product-item {
    height: 270px;
  }
  .section-suggest .col-lg-3,
  .col-lg-4,
  .col-lg-6 {
    width: 100%;
  }
  .news-list,
  .footer-page .footer-top,
  .footer-top-responsive {
    margin: 0 10px;
  }
  .footer-top-responsive .nav-responsive {
    display: block;
    color: var(--text-white-color);
    padding-top: 30px;
  }
  .footer-top-responsive .nav-responsive li {
    margin-bottom: 20px;
  }
  .footer-top-responsive .nav-responsive li a:hover {
    color: aqua;
  }
}
