.section-suggest {
  .container {
    @include boderSection(1px solid #ddd, none);
  }
  .suggest-name {
    margin-top: 60px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    display: inline-block;
  }
  .suggest-name::after {
    content: "";
    border-top: 2px solid map-get($colors, black-color);
    width: 60px;
    height: 1px;
    @include positionAbs(30px, 0);
  }
}

.suggest-list {
  margin: 30px 0;
  .suggest-item {
    display: flex;
    font-size: 14px;
    line-height: 30px;
    vertical-align: middle;
    a img {
      width: 80px;
      margin-right: 5px;
    }
    .product-name {
      font-size: 14px;
      font-weight: 400;
    }
    .product-price {
      color: map-get($colors, gray-color);
    }
  }
}
