* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--black-color);
}

img {
  object-fit: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

.container-fluit {
  width: 100%;
  position: relative;
}

.row {
  margin: 0 -15px;
}

.row::after,
.row::before {
  content: "";
  display: table;
  clear: both;
}

.col-lg-1 {
  width: 8.33%;
}

.col-lg-2 {
  width: 16.66%;
}

.col-lg-3 {
  width: 25%;
}

.col-lg-4 {
  width: 33.33%;
}

.col-lg-5 {
  width: 41.66%;
}

.col-lg-6 {
  width: 50%;
}

.col-lg-13 {
  width: 20.82%;
}

.main-page {
  position: relative;
}

.wrap {
  @include flexGap(0 30px);
}
