.btn {
  padding: 15px 30px;
  border: 2px solid ;
  margin-left: 10px;
}

.btn.close {
  border: none;
  padding: 0;
}

.btn.primary {
  background-color: map-get($colors, primary-color);
  border: 2px solid rgba(255, 255, 255, 0);
}

.btn.primary:hover {
  filter: opacity(0.8);
}

.btn.nocolor:hover {
  background-color: map-get($colors, primary-color);
  border: 2px solid rgba(255, 255, 255, 0);
  filter: opacity(0.8);
}

.btn.submit {
  padding: 11px 25px;
  margin-left: -5px;
  color: map-get($colors, text-white-color);
  background-color: map-get($colors, primary-color);
  width: 105px;
  border: none;
}